* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.card-image {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.card-image > img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.card {
    display: flex;
    width: fit-content;
    transition: all .2s;
    margin: 20px;
    position: relative;
}

.card-text {
    background-color: bisque;
    width: 500px;
}

.card-title > h1{
    margin: 10px;
}

.card-description {
    padding: 10px;
}

.card:hover {
    box-shadow: 0px 0px 44px -9px rgba(0,0,0,0.77);
}