.links-list {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.link-box {
    display: flex;
    margin: 10px;
    padding-bottom: 10px;
    max-width: 200px;
    flex-direction: column;
    border: solid 3px brown;
    border-radius: 5px;
}

.recipe-link {
    text-align: center;
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    height: 40px;
    align-content: center;
    background-color:darkorange;
}

.link-description {
    margin: 10px;
    line-height: 1em;
    font-size: 0.9em;
    font-style: italic;
    color:black;
}

.recipe-link:hover {
    text-decoration-line: underline;
}

.see-more {
    font-style: normal;
    color: darkblue;
}