html {
    background-image: url(./img/background.png);
}

body {
    width: 80%;
    background-color: orange;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#site-title {
    text-align: center;
    padding: 10px;
    font-size: 2.5em;
}


.links-list {
    padding: 20px;
}

.link {
    list-style: none;
    padding: 10px;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
}

a {
    color: red;
}