/* general styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(./img/background.png);
}

body {
    max-width: 800px;
    background-color: orange;
    margin: auto;
    margin-left: 50px;
    margin-top: 10px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#site-title-wrapper {
    display: flex;
    justify-content: center;
    background-color: brown;
    transition: all 0.2s;
}

#title-icon {
    width: 65px;
    height: 65px;
}

#site-title {
    padding: 10px;
    align-self: center;
    border-radius: 50px;
    font-size: 2.5em;
    transition: all 0.2s;
}

#site-title a {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

#site-title a:hover, #site-title-wrapper:hover {
    color: black;
    background-color: coral;
}

#footnote {
    text-align: end;
    font-style: italic;
    padding-bottom: 5px;
    padding-right: 3px;
    font-size: 0.8em;
    color: darkblue;
}

ul {
    padding-bottom: 20px;
    margin-left: 20px;
    padding-inline-start: 20px;
}

li {
    margin-block-end: 10px;
}

/* Recipe pages styling */

.recipe-name {
    text-transform: uppercase;
    font-weight: 800;
}

.titles {
    margin-left: 40px;
    margin-block: 20px;
    text-transform: uppercase;
    color: brown;
}

.img-container {
    margin: 0px 40px;
}

.img-container > img {
    border-radius: 10px;
    width: 100%;
}

 p {
    margin: 0px 40px;
    max-width: 600px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.01em;
} 